@import url(https://fonts.googleapis.com/css?family=Mandali);

html {
  /* height: 100%; */
  font-family: 'Mandali';
}

.backDrop {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  background-color: #0a0f14;
}

.pixel {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.pageTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
